@font-face { font-family: Awesome; local: Awesome; src: url(../fonts/fontawesome-webfont.ttf) format("truetype"), url(../fonts/fontawesome-webfont.woff) format("woff") ; }
@font-face { font-family: DroidSans; local: DroidSans; src: url(../fonts/DroidSans.eot) format("embedded-opentype"), url(../fonts/DroidSans.ttf) format("truetype"); }
@font-face { font-family: LinLibertine; local: LinLibertine; src: url(../fonts/LinLibertine_R.woff) format("woff"); }

.droidsans {
    font-family: DroidSans, sans-serif;
}

.awesome {
    font-family: Awesome, sans-serif;
}

.linlibertine {
    font-family: LinLibertine, sans-serif;
}

.defaultfont {
    font-family: Arial, Helvetica, sans-serif;
}