@media all {
/*    body div#kopf div.ym-wbox {
        padding-left: 0;
        padding-right: 0;
    }
*/
    a {
        background-color: transparent;
        text-decoration: none;
    }

    a:active {
        outline: medium none;
    }

    a:hover, a:focus {
        color: #FFFFFF;
    }

    ol {
        margin-left: 0.25em;
    }

    .page-header {
        background: none;
    }

    .entry-header {
        background: none repeat scroll 0 0 #FFFFFF;
        color: #444;
    }

    .entry-meta {
        margin: 0 0 0.5em;
    }
    
    .entry-thumbnail img {
	display: block;
	margin: 0 10px 10px 0;
	float: left;
	border: 1px solid #ccc;
    }

    .entry-thumbnail img {
	width: auto;
	height: auto;
	max-width: 150px;
	max-height: 150px;
    }
    
    .entry-content a:hover, a:focus {
        text-decoration: none;
    }

    .entry-content {
        overflow: hidden;
        width: 100%;
    }

    .overflow-x {
        overflow-x:scroll;
        overflow-y:visible;
    }

    .entry-footer {       
        margin: 1em 0;
    }

    /* Alignment */
    .alignleft {
        float:left;
        display:inline;
        margin: 1.5em 1em 0 0;
    }
    .alignright {
        float:right;
        display:inline;
        margin: 1.5em 0 0 1em;
    }
    .aligncenter {
        display:block;
        text-align:center;
        margin: 1.5em auto 0 auto;
    }

    /* Images */
    .entry-content img,
    .comment-content img,
    .widget img {
        max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
    }

    img[class*="align"],
    img[class*="wp-image-"],
    img[class*="attachment-"] {
        height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
    }

    img.size-full,
    img.size-large {
        max-width: 97.5%;
        width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
        height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
    }

    .entry-content img.wp-smiley {
        border: none;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
    }

    img.alignleft,
    img.alignright,
    img.aligncenter {
        margin-bottom: 1.625em;
    }

    p img,
    .wp-caption {
        margin-top: 0.4em;
    }

    .wp-caption {
        background: #eee;
        margin-bottom: 1.625em;
        max-width: 96%;
        padding: 9px;
    }

    .wp-caption img {
        display: block;
        margin: 0 auto;
        max-width: 98%;
    }

    .wp-caption .wp-caption-text,
    .gallery-caption {
        color: #666;
        font-size: 12px;
    }

    .wp-caption .wp-caption-text {
        margin-bottom: 0.6em;
        padding: 10px 0 5px 5px;
        position: relative;
    }

    .gallery {
        margin: 0 auto 1.625em;
    }

    .gallery a:hover, .gallery a:focus, .gallery-thumb a:hover, .gallery-thumb a:focus {
        background-color: transparent !important;
    }

    .gallery a img {
        border: none;
    }

    .gallery-columns-4 .gallery-item {
        width: 23% !important;
        padding-right: 2%;
    }

    .gallery-columns-4 .gallery-item img {
        width: 100%;
        height: auto;
    }

    dl.gallery-item {
        margin: 0;
    }

    .gallery:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }    

    /* Image borders */
    img[class*="align"],
    img[class*="wp-image-"],
    .gallery .gallery-icon img {
        border: 1px solid #DDDDDD;
        padding: 5px;
    }
    .wp-caption img {
        border-color: #F8F8F8;
    }

    a:focus img[class*="align"],
    a:hover img[class*="align"],
    a:active img[class*="align"],
    a:focus img[class*="wp-image-"],
    a:hover img[class*="wp-image-"],
    a:active img[class*="wp-image-"],
    .gallery .gallery-icon a:focus img,
    .gallery .gallery-icon a:hover img,
    .gallery .gallery-icon a:active img {
        background: #F8F8F8;
        border-color: #BBBBBB;
    }

    .wp-caption a:focus img,
    .wp-caption a:active img,
    .wp-caption a:hover img {
        background: #FFFFFF;
        border-color: #DDDDDD;
    }

    /* Embeded objects fit their containers */
    embed,
    iframe,
    object {
        max-width: 100%;
    }

    .rrze-margin {
        margin-top: 0;
    }


}