@media screen {
    /* force vertical scrollbar */
    body {
        overflow-y: scroll;
    }

    /* Layout Module Configuration */
    .ym-wrapper {
        max-width: 80em;
        margin: 0 auto;
    }

    .ym-wbox {
        padding: 1.5em;
    }

    /* fallback for missing media queries support*/
    body > header, body > nav, body > main, body > footer {
        min-width: 760px;
    }

    /* Basic Element Styling */
    header {
        background: #444;
        color: #ccc;
    }
    header h1 {
        background: transparent;
    }
    header .ym-wbox {
        padding: 1.5em;
    }

    nav {
        background: #222222;
    }

    main .info {
        margin-bottom: 1.5em;
    }
    main aside .ym-gbox-right {
        border-left: 1px #ddd solid;
    }
    
 /*   aside .ym-cbox {
        padding: 0 5px;
    }
    
    .ym-cbox {
        padding: 0 15px;
    }
*/
    footer {
        background: #eee;
        color: #444;
    }
    footer p {
        margin: 0;
    }
    footer .ym-wbox {
        padding: 1.5em;
    }

    .ym-gbox {
        padding: 0 1.5em;
    }

    .ym-gbox-left {
        padding: 0 1.5em 0 0;
    }

    .ym-gbox-right {
        padding: 0 0 0 1.5em;
    }

    /* skip links styling */
    .ym-skiplinks a.ym-skip:focus,
    .ym-skiplinks a.ym-skip:active {
        color: #fff;
        background: #333;
        border-bottom: 1px #000 solid;
        padding: 10px 0;
        text-align: center;
        text-decoration: none;
    }

    body.page, body.single, body.blog, body.error404 {
        background: none repeat scroll 0 0 #252525;
    }

    body div#kopf div#title {
        height: 160px;
    }

    div#main {
        padding-bottom: 3em;
    }

    div#main div.ym-wrapper {
        background-color: #FFFFFF;
        border-bottom-style: solid;
        border-bottom-width: 30px;        
        min-height: 60em;
    }

    div#main > div.ym-wrapper > div.ym-wbox {
        padding-top: 1.5em;
    }
    div#title div.ym-wrapper {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 80em;
        height: 160px;
           
    }

    div#title div.ym-wbox {
        padding: 0.5em 1.5em;
    }
    
    div#title div.bottom-right {
        position:absolute;
        right:0;
        bottom:0;
    }

    div#title div.bottom-left {
        position: absolute;
        left:0;
        bottom:0;
    }
    
    div#title div.middle-left {
        position: absolute;
        left:0;
        top:2em;
    }
    
    div#title div.middle-right {
        position:absolute;
        right:0;
        top:2em;
    }


    div#title div.top-right h1, 
    div#title div.top-right h3,
    div#title div.middle-right h1, 
    div#title div.middle-right h3,
    div#title div.bottom-right h1, 
    div#title div.bottom-right h3 {
        text-align: right;
    }    
    
    div#title div.top-center h1, 
    div#title div.top-center h3 {
        text-align: center;
    }
    
    h3#site-description {
        margin-bottom: 0;
    }
    
    .header-block h1 {
        overflow: hidden;
        white-space: nowrap;
        padding-left: 0;        
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.1;
        font-size: 275%;
        vertical-align: bottom;
    }

    .header-block h3 {       
        margin-top: 8px;
        font-size: 200%;
    } 

    .header-block h1 span {
        background-color: rgba(255, 255, 255, 0.75);
    }

    .header-block h1 a,
    .header-block h1 a:focus,
    .header-block h1 a:hover {
        background-color: rgba(255, 255, 255, 0);
    }
    
    .header-block h3 span {
        background-color: rgba(255, 255, 255, 0.55);
    }

    .header-block h1 span, .header-block h3 span {
        padding: 4px 0;
    }


    section.box { 
        padding: 1.4286em; 
    }

    .ym-column {
        display: block;
        overflow: auto;
    }

    .sprungmarken {
        top:28px;
    }

    .permalink,
    .edit-link {
        margin-left: 0.35em;
    }

    nav#bereichsmenu {
        background: none repeat scroll 0 0 transparent;
    }
/*
    div#zusatzinfo {
        padding: 0 0.5em;
    }
*/
    nav#nav-pages,
    nav#nav-single,
    nav#nav-comments {
        background: none repeat scroll 0 0 #FFFFFF;
    }

    nav#breadcrumb {
        background: none repeat scroll 0 0 transparent;
    }

    nav#breadcrumb > div.ym-wrapper {
        background-color: #FFF;
    }

    nav#breadcrumb div.ym-hlist {
        background: none repeat scroll 0 0 #F8F8F8;
        color: #333333;
    }

    nav#breadcrumb div.ym-hlist ul {
        padding-left: 1.5em;
    }

    nav#breadcrumb div.ym-hlist ul li a {
        background: none repeat scroll 0 0 transparent;
        display: inline;
        font-size: 1em;
        font-weight: normal;
        line-height: 2;
        padding: 0 0.5em;
        text-decoration: none;
        text-shadow: none;
        border-radius: 0;
        width: auto;
    }

    nav#breadcrumb div.ym-hlist ul li span {
        background: none repeat scroll 0 0 transparent;
        font-size: 1em;
        font-weight: normal;
        line-height: 2;
        padding: 0;
        width: auto;
    }

    nav#breadcrumb div.ym-hlist ul li a + span {
        padding: 0;
    }

    nav#breadcrumb div.ym-hlist ul li a,
    nav#breadcrumb div.ym-hlist ul li a:visited {
        background-color: #f8f8f8;
        color: #333333;
    }

    nav#breadcrumb div.ym-hlist ul li a:focus,
    nav#breadcrumb div.ym-hlist ul li a:hover,
    nav#breadcrumb div.ym-hlist ul li a:active {
        color: #FFF;
        border-radius: none;
    }

    nav#nav-pages .navmenu-previous,
    nav#nav-single .navmenu-previous,
    nav#nav-comments .navmenu-previous {
        float: left;
    }

    nav#nav-pages .navmenu-next,
    nav#nav-single .navmenu-next,
    nav#nav-comments .navmenu-next {
        float: right;
    }    

    /* Vertical menu */
    .ym-vlist ul li.menu-item ul,
    .ym-vlist ul li.page_item ul,
    .ym-vlist ul li.cat-item ul {
        display: none;
    }

    .ym-vlist li.current-menu-ancestor > ul,
    .ym-vlist li.current-menu-parent > ul,
    .ym-vlist li.current-menu-item > ul,
    .ym-vlist li.current_page_ancestor > ul,
    .ym-vlist li.current_page_parent > ul,
    .ym-vlist li.current_page_item > ul,
    .ym-vlist li.current-cat-ancestor > ul,
    .ym-vlist li.current-cat-parent > ul,
    .ym-vlist li.current-cat > ul { 
        display: block !important;
    }

    .ym-vlist li { 
        background-color: transparent; 
    }

    /* Level 1 */
    .ym-vlist li a,
    .ym-vlist li strong,
    .ym-vlist li span {
        width: 100%;
        padding-left: 0;
    } /* LTR */

    .ym-vlist li.current-menu-item > a,
    .ym-vlist li.current_page_item > a,
    .ym-vlist li.current-cat > a {
        font-weight: bold;
        outline: 0 none;
    }

    /* Level 2 */
    .ym-vlist li ul li a,
    .ym-vlist li ul li strong,
    .ym-vlist li ul li span {
        width: 100%;
        padding-left: 1.5em;
    }

    .ym-vlist li ul li.current-menu-item > a,
    .ym-vlist li ul li.current_page_item > a,
    .ym-vlist li ul li.current-cat > a {
        font-weight: bold;
        outline: 0 none;
    }

    /* Level 3 */
    .ym-vlist li ul li ul li a:visited{ 
        background-color:#f8f8f8;
        color:#333; 
    }

    .ym-vlist li ul li ul li a,
    .ym-vlist li ul li ul li strong,
    .ym-vlist li ul li ul li span {
        width: 100%;
        padding-left: 3em;
    }

    .ym-vlist li ul li ul li.current-menu-item  > a,
    .ym-vlist li ul li ul li.current_page_item  > a,
    .ym-vlist li ul li ul li.current-cat  > a {
        font-weight: bold;
        outline: 0 none;
    }

    /* Level 4 */
    .ym-vlist li ul li ul li ul li a:visited { 
        background-color:#FFF;
        color:#333; 
    }

    .ym-vlist li ul li ul li ul li a,
    .ym-vlist li ul li ul li ul li strong,
    .ym-vlist li ul li ul li ul li span {
        width: 100%;
        padding-left: 4.5em;
    }

    .ym-vlist li ul li ul li ul li.current-menu-item > a,
    .ym-vlist li ul li ul li ul li.current_page_item > a,
    .ym-vlist li ul li ul li ul li.current-cat > a {
        font-weight: bold;
        outline: 0 none;
    }

    /* Widgets */
    .widget-wrapper {
        margin-top: 0;
    }
    
    footer .widget-wrapper {
        margin-top: 1.5em;
    }

    .widget-wrapper ul {
        border-top: none;
    }

    .widget-title {
        border-bottom-style: solid;
        border-bottom-width: 3px;
        font-size: 100%;
        font-weight: bold;
        margin: 0 0 3px;
        padding: 3px 0;
        width: 100%;
    }

    h6.widget-title a {
        display: inline;
        padding: 3px 0;
        border-bottom: none;
    }

    h6.widget-title a + a {
        padding-left: 3px;
    }    

    .fau-logo a:hover, .fau-logo a:focus, .network-logo a:hover, .network-logo a:focus {
        background-color: transparent !important;
    }

    /** wp-search widget */
    .widget-title + form#searchform {
        border-top: 4px solid #888;
    }

    #searchform {
        background: none repeat scroll 0 0 transparent;
        white-space: nowrap;
    }

    .searchfield {
        float: left;
        background: #FFFFFF;
        display: inline;
        line-height: 1;
        margin-right: 3px;
        padding: 0.25em;
        border: solid 1px #888888;
        outline: none;
        width: 72%;
    }

    .searchbutton {
        cursor: pointer;
        font-size: 1em;
        line-height: 1.3571;
        padding: 0.25em;
        border: solid 1px transparent;
        border: 1px solid transparent;
        color: #FFFFFF;
        border-radius: 0;
        text-shadow: none;
        width: 24%;
    }

    footer {
        background: none repeat scroll 0 0 #F8F8F8;
    }

    /* wp-archive & wp-categories widgets */
    .widget-wrapper select {
        display: block;
        position: relative;
        border: 1px solid #DDD;
        line-height: 1;
        margin: 0;
        padding: 0.25em 2px 0.25em 1px;
        width: 100%;
        cursor: pointer;
    }

    .widget-wrapper select:focus,
    .widget-wrapper select:hover,
    .widget-wrapper select:active {
        background: none repeat scroll 0 0 #FFF;
        border: 1px solid #888;
    }

    /* wp-text widget */
    .widget_text a, .widget_text strong, .widget_text span {
        border-bottom: none;
        display: inline-block;
        padding: 0;
    }

    .textwidget, .rrze_textwidget {
        line-height: 1.5;
    }

    .textwidget p, .rrze_textwidget p {
        margin: 0.5em 0;
    }    

    .textwidget p:first-child, .rrze_textwidget p:first-child {
        margin: 0 0 0.5em 0;
    }    

    .textwidget p:last-child, .rrze_textwidget p:last-child {
        margin: 0.5em 0 0 0;
    }    

    /* wp-calendar widget */
    div#calendar_wrap {
    }

    div#calendar_wrap a {
        border-bottom: none;
    }

    table#wp-calendar th, table#wp-calendar td {
        padding: 0.5em 0.2em;
    }

    /* wp-tagcloud widget */
    div.tagcloud, div.textwidget, table#wp-calendar {
        padding-bottom: 3px;
        border-bottom-style: solid;
        border-bottom-width: 3px;
    }

    div.textwidget {
        padding-bottom: 3px;
    }

    div.tagcloud a {
        border-bottom: none;
        display: inline;
        padding: 0 5% 0 0;
        line-height: 1.5;
    }

    /* wp-rss widget */
    .widget-title a.rsswidget:first-child {
        background-color: transparent;
    }

    /* wp-comments widget */
    li.recentcomments {
        padding: 3px 0 3px 0;
        width: 100%;
        border-bottom: 1px solid #DDD;
    }

    li.recentcomments a {
        border-bottom: none;
    }

    div.tagcloud a:hover, div.tagcloud a:focus {
        text-decoration: none;
    }

    div#formulare {
        padding: 1.3em 0;
    }

    form#commentform p {
        margin: 0 0 0 1em;
        padding: 10px 0;
    }

    span.required-item {
        padding: 0 .3em;
    }


    /* footer */
    body > footer {
        color: #D0D0D0;
        padding-bottom: 5em;
    }

    footer table#wp-calendar {
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-top-style: solid;
        border-top-width: 1px;
        color: #D0D0D0;
    }

    footer .tagcloud, 
    footer .textwidget {
        border-bottom-style: solid;
        border-bottom-width: 3px;

    }

    footer .rrze_textwidget {
    }

    footer .tagcloud {
        line-height: 1.5;
    }

    footer .ym-vlist a, footer .ym-vlist a:visited {
        color: #D0D0D0;
    }

    footer tbody td {
        color: #D0D0D0;
    }

    footer thead th {
        border-bottom-style: solid;
        border-bottom-width: 2px;
        color: #D0D0D0;
    }

    footer table#wp-calendar a, 
    footer table#wp-calendar a:visited {
        color: #D0D0D0;
    }

    footer table#wp-calendar a:focus, 
    footer table#wp-calendar a:hover,
    footer table#wp-calendar a:active {
        color: #FFF;
    }

    footer table#wp-calendar tfoot a,
    footer table#wp-calendar tfoot a:visited {
        background-color: transparent;
        color: #D0D0D0;
    }

    footer table#wp-calendar tfoot a:focus,
    footer table#wp-calendar tfoot a:hover,
    footer table#wp-calendar tfoot a:active {
        color: #FFF;
    }

    /* wp-comments widget */
    footer li.recentcomments {
        padding: 3px 0 3px 0;
        width: 100%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    /* Vertical menu (footer) */

    /* Level 1 */
    footer .ym-vlist li a,
    footer .ym-vlist li a:visited {
        background-color: transparent;
        color: #D0D0D0;
    }

    footer .ym-vlist li a:focus,
    footer .ym-vlist li a:hover,
    footer .ym-vlist li a:active {
        color: #FFF;
        outline: 0 none;
    }

    footer .ym-vlist li.current-menu-item > a,
    footer .ym-vlist li.current_page_item > a,
    footer .ym-vlist li.current-cat > a {
        background-color: #555;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    footer .ym-vlist li.current-menu-parent > a,
    footer .ym-vlist li.current_page_parent > a,
    footer .ym-vlist li.current-cat-parent > a,
    footer .ym-vlist li.current-menu-ancestor > a,
    footer .ym-vlist li.current_page_ancestor > a {
        background-color: transparent;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    /* Level 2 */
    footer .ym-vlist li ul li a,
    footer .ym-vlist li ul li a:visited {
        background: none repeat scroll 0 0 transparent;
        color: #D0D0D0;
    }

    footer .ym-vlist li ul li a:focus,
    footer .ym-vlist li ul li a:hover,
    footer .ym-vlist li ul li a:active {
        color: #FFF;
    }

    footer .ym-vlist li ul li.current-menu-item > a,
    footer .ym-vlist li ul li.current_page_item > a,
    footer .ym-vlist li ul li.current-cat > a {
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    footer .ym-vlist li ul li.current-menu-parent > a,
    footer .ym-vlist li ul li.current_page_parent > a,
    footer .ym-vlist li ul li.current-cat-parent > a,
    footer .ym-vlist li ul li.current-menu-ancestor > a,
    footer .ym-vlist li ul li.current_page_ancestor > a {
        background-color: transparent;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    /* Level 3 */
    footer .ym-vlist li ul li ul li a,
    footer .ym-vlist li ul li ul li a:visited {
        background: none repeat scroll 0 0 transparent;
        color: #D0D0D0;
    }

    footer .ym-vlist li ul li ul li a:focus,
    footer .ym-vlist li ul li ul li a:hover,
    footer .ym-vlist li ul li ul li a:active {
        color: #FFF;
    }

    footer .ym-vlist li ul li ul li.current-menu-item  > a,
    footer .ym-vlist li ul li ul li.current_page_item  > a,
    footer .ym-vlist li ul li ul li.current-cat  > a {
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    footer .ym-vlist li ul li ul li.current-menu-parent > a,
    footer .ym-vlist li ul li ul li.current_page_parent > a,
    footer .ym-vlist li ul li ul li.current-cat-parent > a,
    footer .ym-vlist li ul li ul li.current-menu-ancestor > a,
    footer .ym-vlist li ul li ul li.current_page_ancestor > a {
        background-color: transparent;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    /* Level 4 */
    footer .ym-vlist li ul li ul li ul li a,
    footer .ym-vlist li ul li ul li ul li a:visited {
        background: none repeat scroll 0 0 transparent;
        color: #D0D0D0;
    }

    footer .ym-vlist li ul li ul li ul li a:focus,
    footer .ym-vlist li ul li ul li ul li a:hover,
    footer .ym-vlist li ul li ul li ul li a:active {
        color: #FFF;
    }

    footer .ym-vlist li ul li ul li ul li.current-menu-item > a,
    footer .ym-vlist li ul li ul li ul li.current_page_item > a,
    footer .ym-vlist li ul li ul li ul li.current-cat > a {
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    footer .ym-vlist li ul li ul li ul li.current-menu-parent > a,
    footer .ym-vlist li ul li ul li ul li.current_page_parent > a,
    footer .ym-vlist li ul li ul li ul li.current-cat-parent > a,
    footer .ym-vlist li ul li ul li ul li.current-menu-ancestor > a,
    footer .ym-vlist li ul li ul li ul li.current_page_ancestor > a {
        background-color: transparent;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    .network-logo, .fau-logo {
        text-align: center;
        margin-bottom: 15px;
    }

    .network-logo a, .fau-logo a {
        background-color: transparent;
    }

    /* Search form */
    .ym-searchform {
        padding: 0.75em 1.5em;
    }    

    /* Horizontal menu */
    .navmenu { 
        position: relative; 
        z-index: 999;
    }

    .navmenu ul, 
    .navmenu ol, 
    .navmenu dl, 
    .navmenu li { 
        list-style: none; 
    }

    .navmenu ul.dropdown {
        float: none;
    }

    .menu-icon { 
        display:none; 
    }

    ul.dropdown,
    ul.dropdown li,
    ul.dropdown ul { 
        margin: 0; 
        padding: 0; 

    }

    ul.dropdown{
        float: left;
        position: relative; 
    }

    ul.dropdown li { 
        float: left; 
        vertical-align: middle; 
        zoom: 1; /* IE6 */
    }

    ul.dropdown a,
    ul.dropdown a:visited,	
    ul.dropdown a:hover, 		
    ul.dropdown a:active { 
        text-decoration: none; 
    }

    ul.dropdown a, 
    ul.dropdown span { 
        display: block;
        outline: none; 
        cursor: pointer; 
        padding: 14px 15px; 
    }

    ul.dropdown ul a,
    ul.dropdown ul span {  
        padding: 12px 15px; 
    }	

    ul.dropdown li:hover, 
    ul.dropdown li.hover { 
        position: relative; 
        cursor: pointer; 
    }

    ul.dropdown ul { 
        display: none; 
        position: absolute;
        z-index: 598;
        width: 220px; 
        top: 100%;        
    }

    ul.dropdown li:hover > ul{ 
        display: block;
    }

    ul.dropdown ul li { 
        float: none;
        font-size: 13px;
        font-weight: normal; 
        text-transform: none;
        position: relative; 
    }

    ul.dropdown ul ul { 
        top:0; 
        left:100%; 
    }

    ul.dropdown *.sub { 
        padding-right: 15px; 
        background-image: url(../images/navmenu-down-thin.gif); 
        background-position: 95% 50%; 
        background-repeat: no-repeat; 
    }

    ul.dropdown ul *.sub { 
        padding-right: 15px; 
        background-image: url(../images/navmenu-right-thin.gif);
        background-position: 100% 50%; 									  
        background-repeat: no-repeat; 
    }

    ul.dropdown li.sub:hover{
        background-image: url(../images/navmenu-down.gif); 
    }

    ul.dropdown ul li.sub:hover{ 
        background-image: url(../images/navmenu-right.gif);  
    }

    ul.dropdown li.divider{ 
        padding: 0!important; 
        margin: 0!important; 
        border: 0!important;
        display: block; 
        height: 49px; 
        float: left;
        width: 1px; 
    }

    ul.dropdown li.rtl ul { 
        position: absolute; 
        top: 100%; 
        right: 0; 
        z-index: 598; 
        left: auto; 
    }

    ul.dropdown li.rtl ul ul { 
        top: 0; 
        right: 100%; 
        left: auto; 
    }

    ul.dropdown li.ltr ul, 
    ul.dropdown li.ltr ul ul { 
        top: 0; 
        left: 100% !important; 
        right: auto !important; 
    }   
}

/* reset fallback values in modern browsers */
@media screen and (min-width: 0px) {
    body > header, body > nav, body > main, body > footer {
        min-width: 0;
    }
}

@media screen and (max-width: 760px) {
    /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
    .linearize-level-1, .linearize-level-1 > [class*="ym-c"], .linearize-level-1 > [class*="ym-g"] {
        /* linearization for grids and columns module */
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: auto !important;
    }
    .linearize-level-1 > [class*="ym-c"] > [class*="ym-cbox"], .linearize-level-1 > [class*="ym-g"] > [class*="ym-gbox"] {
        /* reset defined gutter values */
        margin: 0;
        padding: 0;
        /* optional for containing floats */
        overflow: hidden;
    }

    .secondary {
        border-top: 1px #888 solid;
        margin-top: 1.5em !important;
        padding-top: 1.5em !important;
    }

    main aside .ym-gbox-right {
        border: 0 none;
    }

    .ym-searchform {
        display: block;
        float: none;
        width: auto;
        text-align: right;
    }

    .ym-searchform input[type="search"] {
        width: 14%;
    }

    /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
    .linearize-level-1,
    .linearize-level-1 > [class*="ym-g"],
    .linearize-level-1 > [class*="ym-col"] {
        float: none !important;
        margin: 0 !important;
        width: 100% !important;
    }

    body {
        max-width: 760px;	
        overflow: auto;	
        -webkit-text-size-adjust: none;
    }

    body div#kopf div#title {
        height: auto;
        width: auto;
    }

    h1 {
        font-size: 38px;
    }

    div#title div.ym-wbox {
        padding: 0 1.5em;
    }
    
    div#title div.ym-wrapper {
        height: 105px;
    }
 
    div#title div.middle-left {
        top:1.3em;
    }
    
    div#title div.middle-right {
        top:1.3em;
    }
    
    .header-block h1 {
        font-size: 38px;
        line-height: 1.8;
        margin-top: 0;
    }

    .header-block h3 {
        display: none;
    }

    /* Aside columns */
    div#main aside.ym-col1,
    div#main aside.ym-col2 {
        /* display: none !important; */
    }

    /* Breadcrumb */
    nav#breadcrumb {
        display: none;
    }

    /* Search form */
    .searchform {
        float: right;
        width: 100%;
        margin-bottom: 1em;
    }

    .ym-searchform {             
        text-align: center;
    }    

    .ym-searchform input[type="search"] {
        width: 55%;
    }

    /* Horizontal menu */
    .menu-icon, 
    .menu-icon span, 
    .menu-icon { 
        color: #fff; 
        width: 100%; 
        height: 50px; 
        line-height: 40px; 
        padding: 5px; 
        font-size: 1.3em; 
        font-weight: bold; 
        cursor: pointer; 
        display: block;
        position: relative;	
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;        
    }

    .menu-icon span { 
        width: auto;
        padding: 0 15px;
        padding-left: 40px; 
        height: 40px; 
        background: transparent url(../images/navmenu-toggle.png) center no-repeat;
        color: #fff;
        text-align: center;
        text-indent: -999em; 
        display: inline-block;
        position: absolute;
        top: 5px;
        right: 5px;

    }

    .navmenu { 
        position:relative; 
    }

    .navmenu,
    ul.dropdown, 
    .menu-icon, 
    .menu-icon span, 
    ul.dropdown * { 
        box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box; 
    }

    ul.dropdown {
        display: none; 
        position: relative; 
        top: -1px; 
        width: 100%;
    }

    ul.dropdown  li { 
        position: relative; 
        float: none; 
        display: block; 
    }

    ul.dropdown  li li { 
        border-top: 0;
    }

    ul.dropdown  ul a { 
        padding-left: 25px; 
    }

    ul.dropdown  ul ul a { 
        padding-left: 45px; 
    }

    ul.dropdown *.sub { 
        padding: 0 !important; 
        background-image: none !important; 
    }

    ul.dropdown ul { 
        overflow: hidden; 
        max-height: 0; 
        width: auto; 
        display: block; 
        position: static; 
    }

    ul.dropdown ul.current { 
        display: block; 
        max-height: 100em; 
    }

    ul.dropdown li.sub > a { 
        padding-right: 25px; 
    }

    ul.dropdown li.sub > a:after, 
    ul.dropdown li.sub > a.current:after { 
        position: absolute; 
        top: 0; 
        right: 0; 
        display: block; 
        font-size: 1.5em; 
        padding: 0.55em 0.5em; 
    }

    ul.dropdown li.sub > a:after { 
        content: '\002B'; 
    }	

    ul.dropdown li.sub > a.current:after { 
        content: "\2013"; 
        top: -2px; 
    }

    ul.dropdown li.rtl ul, 
    ul.dropdown li.ltr ul, 
    ul.dropdown li.ltr ul ul, 
    ul.dropdown li.rtl ul ul { 
        position: static; 
    }

    ul.dropdown li.divider { 
        display:none!important; 
    }

    /* Search form */
    .searchfield {
        float: none;
        margin-right: 0;
        width: 75%;
    }

    .searchbutton {
        float: none;
        width: 25%;
    }  
}

@media screen and (min-width: 761px) {
    ul.dropdown{ display:block !important ; } 
}

@media screen and (max-width: 480px) {
    /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-2 */
    .linearize-level-2, .linearize-level-2 > [class*="ym-c"], .linearize-level-2 > [class*="ym-g"] {
        /* linearization for grids and columns module */
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: auto !important;
    }
    .linearize-level-2 > [class*="ym-c"] > [class*="ym-cbox"], .linearize-level-2 > [class*="ym-g"] > [class*="ym-gbox"] {
        /* reset defined gutter values */
        margin: 0;
        padding: 0;
        /* optional for containing floats */
        overflow: hidden;
    }

    header .ym-wbox {
        padding: 0.75em 10px;
    }

    footer .ym-wbox,
    .ym-wbox,
    .ym-searchform,
    nav .ym-hlist ul {
        padding-left: 10px;
        padding-right: 10px;
    }

    .ym-searchform,
    nav .ym-hlist ul,
    nav .ym-hlist li {
        display: block;
        float: none;
        width: auto;
        text-align: left;
    }

    .ym-searchform input[type="search"] {
        width: 75%;
    }

    /* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
    .linearize-level-1,
    .linearize-level-1 > [class*="ym-g"],
    .linearize-level-1 > [class*="ym-col"] {
        float: none !important;
        margin: 0 !important;
        width: 100% !important;
    }

    body {
        max-width: 480px;	
        overflow: auto;	
        -webkit-text-size-adjust: none; /* Wichtig fuer iPhone im Landscape Mode */
    }

}
